<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dummy Practice Suite">
    <test name="Test Basics">
        <!--<parameter name="emailid" value="tester456@gmail.com"/>-->
        <parameter name="browserName" value="mozilla"/>
        <classes>
            <class name="SampleTest"/>
        </classes>
    </test>
</suite> <!-- Suite -->